.funnel-sans-root {
    font-family: "Funnel Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  } 

:root {
    --soft-green: #879A77;
    --gray: #C5C6C7;
    --light-gray: #e2e2e2;
    --charcoal: #73787C;
    font: 1em "Funnel Sans";

    display: block;
    background-color: var(--light-gray);
}

* {
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body::before {
    content: "";
    position: absolute;
    z-index: -1;
    transform-origin: 0;
    transform: skewY(-10deg);
    background-color: var(--soft-green);
    height: 25rem;
    width: 100vw;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

header {
    display: flex;
    flex-flow: row wrap;
    padding: 3rem;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
    max-height: 900px;
}

.img-container {
    min-width: 240px;
    max-width: 400px;
    display: flex;
    flex-flow: column;
    font-size: 1.8rem;
    text-align: center;
    vertical-align: center;
    line-height: 60px;
    background-color: var(--charcoal);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.img-container > img {
    min-width: 240px;
}

.about-container {
    flex: 1 0 15rem;
    min-width: none;
    background-color: var(--gray);
    padding: 1rem;
    margin: 0;
    max-width: 30rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}

.about-links {
    height: 2rem;
    float: right;
}

.about-links > a > svg,
.contact-links > a > svg,
.project-links > a > svg {
    height: 90%;
    margin-inline: 0.3rem;
}

svg:focus,
svg:hover {
    transform: scale(1.1);
    transition: transform 250ms;
}

svg:focus path,
svg:hover path {
    fill: var(--soft-green);
    transition: fill 250ms;
}

.project-section {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding: 3rem;
    padding-inline: 10rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-gap: 2rem;
    grid-auto-flow: dense;
    align-items: flex-start;
    max-width: 1600px;
    min-width: 280px;
}

.project-container > img {
    width: 100%;
}

.project-links {
    height: 2rem;
    float: right;
}

footer {
    background-color: var(--soft-green);
    position: relative;
    bottom: 0;
    right: 0;
    width: 100vw;
    max-height: 850px;
    padding: 3rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.contact-container {
    display: flex;
    flex-flow: row wrap;
    flex: 1 0 15rem;
    gap: 0.4rem;
    max-width: 25rem;
    min-width: none;
    max-height: 450px;
}

.contact-links {
    height: 2rem;
}

.contact-links > a > svg:focus path,
.contact-links > a > svg:hover path {
    fill: var(--gray);
    transition: fill 250ms;
}

footer > img {
    min-width: 300px;
    max-height: 300px;
}

@media (max-width: 520px) {
    header {
        padding: 1rem;
    }

    .project-section {
        padding-inline: 1rem;
    }
}